<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="ex2.css" type="text/css" />

    <title>Cart added!</title>
     <link rel="stylesheet" href="cart.css" type="text/css" />

</head>

<body>

    <div class="container" >    
        <div class="row">
          <div class="col-sm-7">
            <div class="panel panel-success">
              <div class="panel-heading">
                  <h2>Successed!</h2>
                </div>
              <div class="panel-body">
                  <h2>The goods added in the cart</h2>
                  <h4>Do you check the cart right now?</h4>
              </div>
              <div class="panel-footer">
                  <p><a class="btn btn-default btn-lg" href="#" role="button">Cancel</a> <a class="btn btn-info btn-lg" href="#" role="button">Cart</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <footer>
        <div class = "container">
            <p> &copy; 2017 singsingKU, All right reserved</p>
            <br>
            <p>Korea University LIKELION, 2511 Sejong-ro Jochiwon-eup Sejong-si Sejong Korea, Republic of</p>
            <br>
            <p>☎ 044-864-0000</p>
        </div>
    </footer>
</body>

</html>