<div class="alert alert-success alert-dismissible fade show text-center" style="background-color:#83b14e;" role="alert">
    <button type="button"  class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span style="color:white;">싱싱 고대는</span> <strong><span style="color:#b80f0a;">건의사항을</span></strong> <span style="color:white;">기다리고 있습니다!</span>
</div>


<div class="container">
    <div class="alert alert-info text-center" role="alert">
      <strong>건의사항!!</strong> 작성된 글을 수정해주세요!
    </div>
    <form class="offset-4 mt-5" action="/update/<%= @one_post.id %>" method="POST">
      <div class="form-group">
        <label class="text-center">제목</label>
        <input type="text" name="title" class="form-control w-50 " value="<%= @one_post.title %>" placeholder="제목을 입력하세요..">
      </div>
      <div class="form-group">
          <label class="text-center">카테고리</label>
          <select class="form-control form-control-sm w-50" value="<%= @one_post.choice %>" name="choice">
            <option>배송관련</option>
            <option>제품관련</option>
            <option>환불/취소</option>
          </select>
      </div>
      
      <div class="form-group mt-5">
        <label class="text-center" for="exampleTextarea">내용</label>
        <textarea class="form-control w-75" name="content" placeholder="내용을 입력하세요.." id="exampleTextarea" rows="5"><%= @one_post.content %></textarea>
      </div>
      <button class="offset-8" type="submit" class="btn btn-primary">게시하기</button>
    </form>
    
</div>